body {
  background-color: #999;
  font-family: Arial, Helvetica 
  margin: 10% 20%;  
}

h4{
  color:red
  
}

div {
  border: 4px solid black;
  padding-left: 10px;
  magin: 10% 20%;
}

.exp-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: rgba(0,0,0, 0.1)
}
